@import './../../../assets/css/animations.scss';

:host {
    //mobile first
    width: 100vw;

    position: relative;
    bottom: 0;

    display: none;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        padding: 0 3rem;
        height: 50px;
        width: 100%;
        
        background-color: rgba(0, 0, 0, 0.8);

        box-shadow: 0 -4px 10px #000;
    }

    a, a:visited {
        text-decoration: none;
        font-size: 0.8rem;
        color: #FFF;
    }

    button {
        height: 50px;
        background-color: transparent;
        border: none;

        cursor: pointer;
    }

    .footer {
       display: flex;

       align-items: center;
       justify-content: center;

        .footer__link {
            list-style: none;
            margin: 0 10vw;
        }
    }

    //small screen
    @media screen and (min-width: 576px){
        nav {
            justify-content: space-between;
            padding: 0 3rem;
        }
    }

    //medium screen
    @media screen and (min-width: 768px){
       
    }

    //large screen
    @media screen and (min-width: 992px){
    }
}