<nav>
    <ul class="footer">
        <li class="footer__link">
           <button type="button">
                <a [routerLink]="['/']">Inicio</a>
           </button>
        </li>
        <li class="nav__link">
           <button type="button">
                <a [routerLink]="['filmes']">Filmes</a>
           </button>
        </li>
        <li class="nav__link">
            <button type="button">
                 <a [routerLink]="['sobre']">Sobre</a>
            </button>
         </li>
    </ul>
</nav>