<nav-bar></nav-bar>
<div class="bg"></div>
<main class="fadeInLeftBig">
    <div class="info">
        <h1>
            The Movies
        </h1>

        <span>
            Olá, seja bem vindo! Eu me chamo 'The Movies' e fui desenvolvido para te auxiliar a fazer lista dos seus filmes/séries favoritos!
            Fui criado para ser abrangente e amigável para busca de filmes e séries. Tá vendo aquele botão? Testa ele pra ver o que acontece...
        </span>
        <button type="button" class="info__button" (click)="goto()"><a>Clique aqui para saber mais</a></button>
    </div>
</main>