<nav-bar></nav-bar>
<div class="bg"></div>
<main class="fadeInLeftBig">
    <div class="info">
        <h1>
            The Movies
        </h1>

        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores non distinctio vel expedita natus, quis aut quaerat delectus eligendi? Quas nesciunt voluptatem quae assumenda, eveniet excepturi quis impedit nihil laborum.
        </span>
        <button type="button" class="info__button" (click)="goto()"><a>Clique aqui para saber mais</a></button>
    </div>
</main>