@import '../../../assets/css/colors.scss';
@import '../../../assets/css/animations.scss';

:host {
    //mobile first
    font-size: 1rem;


    .bg {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-image: url('https://image.tmdb.org/t/p/w500/jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg');
        height: 100%;
        width: 100%;
 
        z-index: -5;

        background-attachment: fixed;

        position: fixed;
        top: 0;
        left: 0;

        filter: blur(10px);   
        // filter: brightness(0.9);
    }
        
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        // left: calc(2.5%);

        margin: 15vh 20px 0 20px;
        height: 490px;

        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.090);

        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

        .info {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-align: justify;
            
            margin: 0 20px;

            h1 {
                margin: 20px 0;
                text-shadow: 3px 3px 4px #000;
            }

            span {
                width: 70%;
                font-weight: 400;
                font-size: 1rem;

                text-shadow: 2px 1px 2px #000;
            }

            .info__button {
                background-color: rgba(24, 132, 204, 0.8);

                border: none;
                border-radius: 5px;

                padding: 5px 7px;
                margin: 60px 0 30px 0;

                width: 250px;
                color: $font-color;
                font-size: 0.9rem;
                font-weight: 400;

                cursor: pointer;
                transition: 200ms;
            }

            .info__button:hover {
                filter: brightness(1.3);
                filter: blur(0.5px);
                box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.09);
                transition: 300ms;
            }
        }
    }



    //small screen
    @media screen and (min-width: 576px){

    }

    //medium screen
    @media screen and (min-width: 768px){
        .bg {
            background-image: url('https://image.tmdb.org/t/p/w500/e7FzphKs5gzoghDotAEp2FeP46u.jpg');
            filter: blur(20px);
        }

        .info {
            span{
                width: 70%;
                font-weight: 500;
                text-shadow: 0 3px 10px black;
                font-size: 1rem;
            }
        }

        main {
            margin: 10vh 20% 0 20%;
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    //large screen
    @media screen and (min-width: 992px){
        .bg {
            background-image: url('https://image.tmdb.org/t/p/w500/e7FzphKs5gzoghDotAEp2FeP46u.jpg');
            filter: blur(20px);
            // filter: brightness(0.5);
        }

        .info {
            span{
                width: 70%;
                font-weight: 500;
                text-shadow: 0 3px 10px black;
                font-size: 1rem;
            }
        }

        main {
            margin: 15vh 20% 0 20%;
        }
    }

}