<div class="search__area">
    <button type="button">
        <mat-icon>
            search
        </mat-icon>
    </button>
    <input 
        type="text" 
        (keyup)="searchMovieOrTv(search.value)"
        #search 
        placeholder="Pesquise aqui um filme ou série"
    />
</div>
<div class="card__list zoomIn">
    <!-- {{searchList  | json}} -->
    <div *ngIf="searchList.length > 0" class="card">  
        <div *ngFor="let media of searchList" class="card__small">
           <div>
                 <small-card
                *ngIf="media.original_title "
                [name]="media.title"
                [poster]="media.poster_path"
                [id]="media.id"
                [type]="media.type"
                [rating]="media.vote_average"
            >
            </small-card>
            <small-card
                *ngIf="media.original_name"
                [name]="media.title"
                [poster]="media.poster_path"
                [type]="media.type"
                [id]="media.id"
                [rating]="media.vote_average"
            >
            </small-card>
           </div>
        </div>
    </div>
</div>