<!-- <main>
    <div class="infos__main">
        <img [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces'+movie?.backdrop_path" alt="">
    </div>
    <div class="img__filter"></div>
</main> -->

<!-- <div [ngStyle]="{background: 'url(/img/' + item.img + ')', width: '200px', height: '150px'"></div> -->

<!-- https://www.youtube.com/watch?v=${results.key} -->

<!-- <iframe 
    width="700" 
    height="390" 
    [src]="'https://www.youtube.com/embed/'+youtubeKey"  
    frameborder="0" 
    allow="clipboard-write; encrypted-media; web-share" 
>
</iframe> -->
    
<div class="media__genres">
    <button *ngFor="let genre of movie?.genres">
        {{ genre.name }}
    </button>
</div>
    <!-- {{ movie | json }} -->
<div class="media">
    <div class="media__header">
        <h1>
            {{ movie?.title }}
        </h1>    

        <span class="tagline">
            {{ movie?.tagline }}
        </span>
    </div>
    <div class="media__rating">
        <span>
           Duração: {{ movie?.runtime }}min
        </span>
        <span *ngIf="movie?.vote_average != 0">
            Nota: {{ movie?.vote_average | number: '1.1-1' }}/10 
        </span>
        <span *ngIf="movie?.budget != 0">
            Custo de produção: {{ movie?.budget | currency }}
        </span>

    </div>

    <div class="media__description">
        {{ movie?.overview }}
    </div>

    <div class="media__socials">
        <div class="media__like">
            <button 
                class="bg"
                (click)="favoriteMedia(movie?.id, movie?.title, 'media')"
            > 
                <mat-icon class="like">
                    favorite_border
                </mat-icon>
                <span>
                    favoritar
                </span>
           </button>
        </div>

        <div>
            <a class="media__trailer" *ngIf="youtubeKey != undefined" [attr.href]="'https://www.youtube.com/watch?v='+youtubeKey" target="_blank">
                <button class="bg">
                    <mat-icon class="play">
                        play_circle_outline
                    </mat-icon>
                    <span>
                        trailer
                    </span>
                </button>
            </a> 
        </div>
    </div>
</div>