<nav>
    <span class="logo slideInLeft">
        The Movies
    </span>

    <ul class="nav__menu">
        <li class="nav__link">
           <button type="button">
                <a routerLink="">Inicio</a>
           </button>
        </li>
        <li class="nav__link">
           <button type="button">
                <a [routerLink]="['/pesquisar']">Pesquisar</a>
           </button>
        </li>
        <li class="nav__link">
            <button type="button">
                 <a [routerLink]="['/favoritos']">Favoritos</a>
            </button>
         </li>
    </ul>
</nav>