<!-- <main>
    <div class="infos__main">
        <img [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces'+movie?.backdrop_path" alt="">
    </div>
    <div class="img__filter"></div>
</main> -->

<!-- <div [ngStyle]="{background: 'url(/img/' + item.img + ')', width: '200px', height: '150px'"></div> -->

<!-- https://www.youtube.com/watch?v=${results.key} -->

<!-- <iframe 
    width="700" 
    height="390" 
    [src]="'https://www.youtube.com/embed/'+youtubeKey"  
    frameborder="0" 
    allow="clipboard-write; encrypted-media; web-share" 
>
</iframe> -->

<nav-bar class="navbar"></nav-bar>
    
<div class="media__genres">
    <button *ngFor="let genre of movie?.genres">
        {{ genre.name }}
    </button>
</div>

<div class="media">

    <div class="media__header">
        <h1>
            {{ movie?.title }}
        </h1>    

        <span class="tagline">
            {{ movie?.tagline }}
        </span>
    </div>
    <div class="media__rating">
        <span>
           Duração: {{ movie?.runtime }}min
        </span>
        <span *ngIf="movie?.vote_average != 0">
            Nota: {{ movie?.vote_average | number: '1.1-1' }}/10 
        </span>
        <span *ngIf="movie?.budget != 0">
            Custo de produção: {{ movie?.budget | currency }}
        </span>
        <a *ngIf="youtubeKey != undefined" [attr.href]="'https://www.youtube.com/watch?v='+youtubeKey" target="_blank">
            Trailer 
        </a> 
    </div>

    <div class="media__description">
        {{ movie?.overview }}
    </div>

    <div class="media__socials">
            <span>
                like
            </span>
            <span>
                twitter
            </span>
            <span>
                instagram
            </span>
    </div>
</div>

<!-- 
<div class="media__genres" *ngFor="let genre of movie.genres">
    <button>
        Aventura
    </button>
    <button>
        Fantasia
    </button>
    <button>
        Comédia
    </button>
</div>

<div class="media">

    <div class="media__header">
        <h1>
            Dungeons & Dragons: Honra entre Rebeldes
        </h1>    

        <span class="tagline">
            Não é necessário experiência.
        </span>
    </div>
    <div class="media__rating">
        <span>
           Duração: 70min
        </span>
        <span>
            Nota: 7.5/10
        </span>
        <span>
            custo
        </span>
        <span>
            trailer>  
        </span>
    </div>

    <div class="media__description">
        Em um mundo repleto de dragões, elfos, anões,
        orcs e outras criaturas fantásticas, 
        sobreviver é sempre um grande desafio. 
        Raven Hightower é um humano que se arrisca 
        entre os lugares mais perigosos e misteriosos desse universo, 
        sempre com a ajuda de outros aventureiros que, assim como ele, 
        estão dispostos a combater o mal e a derrotar as mais terríveis 
        criaturas que surgem em seus caminhos.
    </div>

    <div class="media__socials">
            <span>
                like
            </span>
            <span>
                twitter
            </span>
            <span>
                instagram
            </span>
    </div>
</div>
 -->

