:host {
    width: 100%; 
}

//small screen
@media screen and (min-width: 576px){
    .card {
        grid-template-columns: 1fr;
    }
}

//medium screen
@media screen and (min-width: 768px){
    .card {
        grid-template-columns: 1fr 1fr;
    }
}

//large screen
@media screen and (min-width: 1130px){
    .card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

//extra large screen
@media screen and (min-width: 1505px){
    .card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}