<!-- <main>
    <div class="infos__main">
        <img [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces'+movie?.backdrop_path" alt="">
    </div>
    <div class="img__filter"></div>
</main> -->

<!-- <div [ngStyle]="{background: 'url(/img/' + item.img + ')', width: '200px', height: '150px'"></div> -->

<!-- https://www.youtube.com/watch?v=${results.key} -->

<iframe 
    width="700" 
    height="390" 
    [src]="'https://www.youtube.com/embed/'+youtubeKey"  
    frameborder="0" 
    allow="clipboard-write; encrypted-media; web-share" 
>
</iframe>