<nav-bar></nav-bar>
<main>
    <h1>
        Sobre
    </h1>
    
    <article>
        <p>
            Nosso site foi projetado com o objetivo de simplificar a pesquisa e a descoberta de filmes e séries, 
            pois acreditamos que a informação abrangente e relevante que oferecemos seja um valor agregado para nossos usuários. 
            Além disso, o The Movies possui um destaque para o recurso de "lista de favoritos". 
            Com isso, os usuários podem criar sua própria lista personalizada de filmes e séries favoritos, 
            facilitando o acesso e a organização das produções que desejam acompanhar.
        </p>

        <br/>
        <p>
            Gostaríamos de expressar nossa gratidão a todos que contribuíram para o sucesso do projeto The Movies. 
            Primeiramente, agradecemos a nossa equipe cujo empenho e dedicação foram essenciais: 
            Bryan Lima, Hellen Baldo, Lucas Santos, Marcos Martins e Nayara Silva. 
            Sem a colaboração e a união de cada um, esse projeto não teria sido possível. 
            Também queremos agradecer ao nosso orientador, Caio Steglich Borges, 
            pela orientação valiosa e apoio ao longo do desenvolvimento do site.
        </p>

        <br/>
        <p>
            Esperamos que você desfrute do The Movies e que ele se torne sua principal fonte de informações e entretenimento cinematográfico. 
            Desfrute da jornada pelo mundo do cinema e das séries, e sinta-se à vontade para compartilhar suas opiniões e sugestões conosco.
        </p>
        <br/>
        
        <strong>Equipe The Movies</strong>
    </article>
</main>

<hr>

<div class="technologies">
    <h2>
        Tecnologias
    </h2>
    <div class="technologies__logos">
        <a href="https://nodejs.org/en" target="_blank">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQogJ0CxlEQtvoHE4w3swFctdtU16puDxhzg5FsuHzQA&s" alt=" Nodejs Logo">
        </a>
        <a href="https://www.mysql.com/" target="_blank">
            <img class="logo" src="https://www.freepnglogos.com/uploads/logo-mysql-png/logo-mysql-mysql-logo-png-images-are-download-crazypng-21.png" alt="Mysql Logo">
        </a>
        <a href="https://angular.io/" target="_blank">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLRtencTTr3GB82bRDncZZUbhuNq-sPrPuSQ&usqp=CAU" alt="Angular Logo">
        </a>
    </div>
</div>

<hr>

<div class="team">
    <h2>
        Links Importantes
    </h2>

    <ul>
        <li>
            <a href="https://github.com/Bryan-OLima/movies-angular">Repositório</a>
        </li>
    </ul>
</div>