<nav-bar></nav-bar>

<main>
    <h1>
        Sobre
    </h1>
    
    <article>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of 
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.
    </article>
</main>

<hr>

<div class="technologies">
    <h2>
        Tecnologias
    </h2>
    <div class="technologies__logos">
        <a href="https://nodejs.org/en" target="_blank">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQogJ0CxlEQtvoHE4w3swFctdtU16puDxhzg5FsuHzQA&s" alt=" Nodejs Logo">
        </a>
        <a href="https://www.mysql.com/" target="_blank">
            <img class="logo" src="https://www.freepnglogos.com/uploads/logo-mysql-png/logo-mysql-mysql-logo-png-images-are-download-crazypng-21.png" alt="Mysql Logo">
        </a>
        <a href="https://angular.io/" target="_blank">
            <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLRtencTTr3GB82bRDncZZUbhuNq-sPrPuSQ&usqp=CAU" alt="Angular Logo">
        </a>
    </div>
</div>

<hr>

<div class="team">
    <h2>
        Links Importantes
    </h2>

    <ul>
        <li>
            <a href="https://github.com/Bryan-OLima/movies-angular">Repositório</a>
        </li>
        <li>
            <a href="">Paper</a>
        </li>
    </ul>
</div>