@import '../../../assets/css/colors.scss';

:host {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;
    // width: 266px;

    margin: 30px;

    .card {
        height: 100%;
        width: 300px;

        color: $font-color;

        display: flex;
        flex-direction: column;
        align-items: center;

        .card__title {
            text-align: center;
            font-size: 1rem;
            margin: 10px 0; 
            width: 70%;

            text-shadow: 0 0 2px $font-color;
            transition: 100ms;
        }

        .card__title:hover {
            text-shadow: 0 0 10px $font-color;
            transition: 400ms;
        }

        .card__like {
            position: absolute;
            margin: 355px 0 0 240px;
            height: 2.2rem;
            width: 2.2rem;
            -webkit-filter: drop-shadow(1px 1px 1px black)
            drop-shadow(-1px -1px 1px black);
            filter: drop-shadow(1px 1px 1px black) 
            drop-shadow(-1px -1px 1px black);
            font-size: 2rem;

            font-weight: bold;
            cursor: pointer;
        }

        .card__like:hover {
            text-shadow: 1px 2px 5px rgba(255, 255, 255, 1);
        }

        .card__rating {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;

            font-size: 1rem;
            font-weight: bold;
            color: #000;

            width: 2.89rem;
            height: 2.89rem;
            margin: -13px 273px 0 0;

            box-shadow: 0 0 8px 2px #000;
            border-radius: 50%;
            background-color: #F6BE27;
        }

        .card__image {
            height: 400px;
            width: 300px;
            border-radius: 10px;
            
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .8);
            transition: 200ms;
        }

        .card__image:hover {
            box-shadow: 0 0 10px 4px rgba(37, 37, 37, 0.8); 
            transition: 200ms;
        }
    }
}