<!-- adicionar uma condicional caso o filme ja exista na lista o card vir com o coração cheio. -->

<!-- https://image.tmdb.org/t/p/w500/85ivt7lJm3J5Mqybdh59m09eksV.jpg -->

<div class="card">
    <a routerLink="">
        <img 
            [src]="posterLink+poster" 
            [alt]="name+ id"
            class="card__image"
        />
    </a>
    <span class="card__title">
        {{name}}
    </span>

    <mat-icon 
        class="card__like"
        (click)="openAlert(name)"
    >
        favorite_border
    </mat-icon>
    <div class="card__rating">
        {{ rating }}
    </div>
</div>

<!-- 
<div class="card">
    <img 
        src="https://image.tmdb.org/t/p/w500/85ivt7lJm3J5Mqybdh59m09eksV.jpg" 
        alt="AVATAR 76600"
        class="card__image"
    />
    <span class="card__title">
        <a routerLink="">
            Dungeons & Dragons: Honra Entre Rebeldes
        </a>
    </span>

    <mat-icon 
        class="card__like"
        (click)="testFunction(id)"
    >
        favorite_border
    </mat-icon>
    <div class="card__rating">
        10
    </div>
</div> -->

