:host {
    display: flex;
    align-items: center;
    justify-content: center;

    nav-bar {
        position: absolute;
        left: 0;
    }

    h1 {
        height: 70vh;
        font-size: 3rem;
        padding-top: 100px;


        text-align: center;
        margin: auto;
    }
}