<main>
    <h1>
        Meus Favoritos
    </h1>

    <div class="card__list">
        <div *ngIf="favoriteList.length > 0" class="card">  
            <div *ngFor="let media of favoriteList, index as i" class="card__small">
                <div>
                    <small-card
                        *ngIf="media.original_title "
                        [name]="media.title"
                        [poster]='media.poster_path'
                        [id]="media.id"
                        [type]="media.type"
                        [rating]="media.vote_average"
                        [isFavorite]="true"
                        [internalId]="internalList[i].internalId"
                    >
                    </small-card>
                    <small-card
                        *ngIf="media.original_name"
                        [name]="media.title"
                        [poster]='media.poster_path'
                        [type]="media.type"
                        [id]="media.id"
                        [rating]="media.vote_average"
                        [isFavorite]="true"
                        [internalId]="internalList[i].internalId"
                        [refreshMethod]="getFavoriteList()"
                    >
                    </small-card>
                </div>
            </div>
        </div>
    </div>
</main>